# Temporary files from editors
*~
*.bak
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
nbproject/

# Hidden files created by Windows
Thumbs.db
desktop.ini

# Node.js packages install directory
node_modules/

# Environment variables
.env
